<div
  class="flash-message {{this.alertType}} {{if this.exiting "exiting"}} {{if this.active "active"}}"
  role="alert"
  ...attributes
  {{on "click" this.onClick}}
  {{did-insert this.onDidInsert}}
  {{will-destroy this.onWillDestroy}}
  {{! template-lint-disable no-invalid-interactive }}
>
  {{#if (has-block)}}
    {{yield this @flash this.onClose}}
  {{else}}
    {{@flash.message}}
    {{#if this.showProgressBar}}
      <div class="alert-progress">
        <div class="alert-progressBar" style={{this.progressDuration}}></div>
      </div>
    {{/if}}
  {{/if}}
</div>