<h1 id="title">Ember-CLI-Flash Demo</h1>

<p>Simple, highly configurable flash messages for ember-cli.</p>

{{#flash-messages flashes=flashMessages.arrangedQueue as |flash|}}
  {{#flash.component class=(concat "alert alert-" flash.type) click=(action flash.close) as |flashMessage|}}
    <h6>{{flashMessage.type}}</h6>
    <p>{{flashMessage.message}}</p>
    {{#if flashMessage.showProgressBar}}
      <div class="alert-progress">
        <div class="alert-progressBar" style="{{flashMessage.progressDuration}}"></div>
      </div>
    {{/if}}
  {{/flash.component}}
{{/flash-messages}}

<code><pre>
\{{#flash-messages flashes=flashMessages.arrangedQueue as |flash|}}
  \{{#flash.component class=(concat &quot;alert alert-&quot; flash.type) click=(action flash.close) as |flashMessage|}}
    \&lt;h6&gt;{{flashMessage.type}}&lt;/h6&gt;
    \&lt;p&gt;{{flashMessage.message}}&lt;/p&gt;
    \{{#if flashMessage.showProgressBar}}
      \&lt;div class=&quot;alert-progress&quot;&gt;
        \&lt;div class=&quot;alert-progressBar&quot; style=&quot;{{flashMessage.progressDuration}}&quot;&gt;&lt;/div&gt;
      \&lt;/div&gt;
    \{{/if}}
  \{{/flash.component}}
\{{/flash-messages}}
</pre></code>
